@media screen and (min-width: 600px) {
    nav a {
      display: none;
    }

    nav a.icon {
      float: right;
      display: block;
    }

    nav.responsive a.icon {
      position: absolute;
      top: 0;
      right: 0;
    }

    nav.responsive a {
      display: block;
      text-align: left;
    }

    .weather-container{
      flex-direction: row;
      justify-content: space-between;
      gap: .5rem;
    }

  }

