@media screen and (min-width: 600px) {
  #menu{
    display: none;
}

.navigation{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav {
    height: 120px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px; 
}

.navigation li{
    list-style: none;
    display: list-item;
}


    .weather-container{
      flex-direction: row;
      justify-content: space-between;
      gap: .5rem;
    }

    #weather-day, .forecast{
      height: 350px;
    }

  .rental_options.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  }

