@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Raleway:wght@300&family=Sriracha&family=Ubuntu:wght@300&display=swap');

:root {
    --s_font: 'Raleway', sans-serif;
    --p_font: 'Sriracha', cursive;
    --p_color: #1C0A8f;
    --s_color: #FED000;
    --p_color_text: #FFFFFF;
    --s_color_text: #0F1020;
}

body{
    font-family: var(--s_font);
    color: var(--s_color_text);
    margin: 0;

}

#mode{
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 20px;
}

.nav-menu{
    background-color: var(--p_color);
    color: var(--p_color_text);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: var(--s_color);
	color: var(--p_color_text);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--p_color_text);
}
.navigation li a:hover {
    background-color: var(--s_color);
	font-weight: 700;
}

.open li {
    display: block;
	width: 100%;
}
.open li a {
    display: block;
}

.banner {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#closeBannerBtn {
    background-color: #4CAF50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
}

.busi-options{
    background-color: var(--s_color);
    display: flex;
    justify-content: space-around;
}

.busi-options a{
    color: var(--s_color_text);
    text-decoration: none;
}

.hero-image{
    justify-content: center;
    align-items: center;
}
.hero-image img{
    width: clamp(300px, 100%, 100%);
    height: 300px;
    object-fit: cover;
    object-position: top;
}

#join{
    margin-top: 0.5rem;
    background-color: var(--s_color);
    padding: 12px 16px;
    position: absolute;
	left: 1rem;
    cursor: pointer;
}

#join a{
    text-decoration: none;
    color: var(--s_color_text)
}

.busi-options{
    margin-top: 10px;
}


.event-info{
    margin: 15px;
}

.event-hero{
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
}

.btn-event{
    margin-top: 0.5rem;
    background-color: var(--p_color);
    color: var(--p_color_text);
    padding: 12px 16px;
    position: relative;
    cursor: pointer;
}

.weather-info{
    background-color: #f1f1f1;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.weather-info h2{
    grid-column: 1 / 3;
}

#current-temp{
    display: block;
}

section{
    width: 90%;
}

.spot-info{
    margin: 12px;
    flex-wrap: wrap;
    padding: 15px;
}

.spot-card{
    flex: 1;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 8px;
}

.spot-card img{
    display: none;
    margin: 8px auto;
}

footer{
    background-color: var(--s_color);
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: 2fr;
}

.footer-info{
    color: var(--s_color_text);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;
    align-items: center;
}

.footer-info-address{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info-contact{
    margin: 0 30px;
}

.footer-info a {
    text-decoration: none;
    color: var(--s_color_text);
}

.social-media h3{
    display: none;
}
.social-media {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}

.social-icons img{
    height: 3rem;
}

.wdd230-info{
    justify-self: center;
    color: var(--s_color_text);
    margin: 18px;
    text-align: center;
}

/* Discover */ 

.sidebar-container{
    background-color: #353646;
    color: var(--p_color_text);
    padding: 12px;
    margin: 8px;
}

.sidebar-container h3{
    text-align: center;
}

/* Join */
.join-main{
    display: flex;
    flex-direction: column-reverse;
}

form{
    margin: 2rem ;
    width: 70%;
    display: flex;
    flex-direction: column;
    place-items: center;
}
form label.top input, form label.top select, form label.top textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px #b1b1b1;
    border-radius: 4px;
    padding: .5rem;
    margin: 12px 0;
    color: var(--s_color_text);
    width: 95%;
    max-width: 30rem;
    background-color: rgba(174, 190, 26, 0.1);
}

form input.form-btn{
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--p_color);
    color: var(--p_color_text);
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: .5rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.form-btn:hover{
    font-size: 1.5rem;
}

.thankyou{
    margin: 12rem;
    text-align: center;
}

legend{
    font-weight: bolder;
    padding: 8px;
}

/*Table: Benefits */
table {
    width: 90%;
	margin: auto;
    margin-top: 12px;
	border: 1px solid black;
	border-collapse: collapse;
    overflow-x: auto;
}

caption {
  padding: 10px;
  caption-side: bottom;
    color: black;
	font-size: 16px;
}

tr:first-child th, .highlight, #highlight {
	background-color: #164863;
	color: white;
}

th, td {
	padding: 5px;
	border: 1px solid hsla(0, 0%, 33%, 0.3);
}

th {
	background-color: #071952;
	color: white;
	font-size: 1rem;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #F1EAFF;
}

/* Directory */

.menu {
	margin: .3rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section{
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #777;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid section > * {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.list section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    align-items: center;
    place-self: center;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bed;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

img {
    height: 75px;
    max-width: 100%;
}
