@media screen and (min-width: 780px){
    #menu{
        display: none;
    }

    .navigation{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }

    nav {
        height: 120px;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px; 
        
    }

    .navigation li{
        list-style: none;
        display: list-item;
    }

    .hero-image img{
        height: 400px;
    }

    .event-info{
        display: flex;
    }

/* Discovery */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    }
}