@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

body {
    background-color: #F3F3F3;
}
.nav_info {
    background-color: #4B8FC1;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    padding: 10px;
    justify-items: center;
}

nav{
    background-color: #616161;
}
nav ul {
    list-style: none;
    margin: auto;
    padding: 0%;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #4B8FC1;
	color: #ffffff;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
    background-color: #bbb;
	font-weight: 700;
}

.stuff {
    margin: .5m;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #bed;
    max-width: 580px;
    height: 100vh;
}

.open li {
    display: block;
	width: 100%;
}
.open li a {
    display: block;
}

main {
    display: grid;
}
main h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;
    justify-self: center;
}
.card {
    font-family: 'Josefin Sans', sans-serif;
    border-style: solid;
    border-radius: 8px;
    margin: 12px;
    display: grid;
}
.card h3{
    background-color: #062c47;
    margin: 0;
    padding: 2%;
    color: #c7c7c6;
    font-size: larger;
    align-items: center;
}
.card ul {
    list-style: none;
}
h3{
    display: flex;
    justify-content: center;
}
section p {
    display: grid;
    justify-content: center;
}

.map {
    display: flex;
    justify-content: center;
    object-fit: contain;
    padding: 20px;   
}

footer {
    color: #c7c7c6;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #062c47;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 120px;
}
footer p{
    margin: 0%;
}
